<div data-spy="scroll" data-target=".navbar" data-offset="100">
  <nav class="navbar navbar-light header-row">
    <a class="navbar-brand text-light">Navbar</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link text-light" href="#fat">@fat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#mdo">@mdo</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </nav>
</div>
<div class="container">
  <hr>
  <br>
  <div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let item of data">
      <div class="card-header custom-gradient-row" id="{{item.id}}">
        <p class="text-center text-light pull-left">
          {{item.id}} -- {{item.name}}
        </p>
        <div class="pull-right">
          <button class="btn btn-xs btn-primary text-center text-light" data-toggle="collapse"
            [attr.data-target]="'#collapse' + item.id" aria-expanded="true">show more</button>&nbsp;
          <span (click)="removeFromFav(item)" *ngIf="item.isFav; else default" class="text-center favourite"><i
              class="fa fa-star" aria-hidden="true"></i></span>&nbsp;&nbsp;
          <ng-template #default>
            <span (click)="addToFav(item)" class="text-center favourite"><i class="fa fa-star-o"
                aria-hidden="true"></i></span>
          </ng-template>
        </div>
      </div>

      <div [id]="'collapse' + item.id" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body bg-light border">
          <p class="text-primary">{{item.content}}</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <button class="btn btn-md btn-primary" (click)="onSendMessage()">Send WS Message</button>
    <div class="border" *ngIf="customWSMessage">
      <p class="text-success text-center">{{customWSMessage.name}} || {{customWSMessage.task}}</p>
    </div>
  </div>
</div>
